[data-i18n] {
    white-space: pre-line;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body stales */
body {
    font-family: "Roboto-Regular", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/*========================================================*/

.topbar {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 8px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    /* padding-right: 6%; */
}


.header {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 5px auto 0 auto;
    /* padding-top: 10px; */
}

.header__inner{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    /* transform: translate(0%, -0%); */
    /* padding-right: 10%; */
}

.header__nav-item :hover {
    text-shadow:
    -1px -1px 0 lch(100% 0.01 296.81 / 0.459),
     1px -1px 0 lch(100% 0.01 296.81 / 0.459),
    -1px  1px 0 lch(100% 0.01 296.81 / 0.459),
     1px  1px 0 lch(100% 0.01 296.81 / 0.459);
}


.header__nav-list {
    display: flex;
    gap: 42px;
    list-style: none;
}

.header__nav-list li a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 auto 20px auto;
}

.header__logo img {
    width: 120px;
    height: auto;
    transform: translateY(50%);
}

/* hover logo */
.header__logo-hover {
    position: relative;
    display: inline-block;
}
.logo {
    display: block;
    width: 120px;
    height: auto;
}
.logo-hover {
    position: absolute;
    z-index: 10000 !important;
    top: 50%;
    left: 50%;
    width: 120px;
    height: auto;
    transform: translate(-50%, -56%) scale(1);
    pointer-events: none;
    z-index: 1;
    transition: transform 0.3s ease;
}
.header__logo-hover:hover .logo-hover {
    transform: translate(-50%, -65%) scale(1.2);
    animation: float 2s ease-in-out infinite;
}
@keyframes float {
    0%, 100%   { transform: translate(-50%, -65%) scale(1.2); }
    50%        { transform: translate(-50%, -75%) scale(1.2); }
}
/* end hover logo */

.header__language-switch {
    position: absolute;
    top: 44%;
    right: 30px;
}

.header__language-switch:hover {
    text-shadow:
    -1px -1px 0 lch(100% 0.01 296.81 / 0.459),
     1px -1px 0 lch(100% 0.01 296.81 / 0.459),
    -1px  1px 0 lch(100% 0.01 296.81 / 0.459),
     1px  1px 0 lch(100% 0.01 296.81 / 0.459);
}

.header__language-link:hover {
    text-decoration: underline;
}

.hero {
    /* width: 100%; */
    background: url('../img/Rectangle-background.png') center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 150px;
}

.hero__title {
    font-family: "Roboto-bold", sans-serif;
    /* font-size: 85px; */
    font-weight: 700;
    position: relative;
    font-size: 4rem;
    color: #000000;
    max-width: 800px;
    margin: 3% auto 0 auto;
    padding-top: 7%;
    text-align: center;
    line-height: 1.2;
    


    text-shadow:
    -1px -1px 0 lch(100% 0.01 296.81 / 0.459),
     1px -1px 0 lch(100% 0.01 296.81 / 0.459),
    -1px  1px 0 lch(100% 0.01 296.81 / 0.459),
     1px  1px 0 lch(100% 0.01 296.81 / 0.459);
}

.hero__scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.hero__scroll-down:hover {
    opacity: 0.7;
    cursor: pointer;
}



.products {
    position: relative;
    background-color: #e07b47;
    min-height: 900px;
}

.product__container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.products__content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
    align-items: center;   
    /* justify-content: flex-start */
    /* justify-content: space-between; */
    transform: translate(3%, 100%); 
}

/* background-fire & black-circle*/
.block-circle__circle,
.products__circle {
    position: relative;
    width: 210px;
    height: 210px;
    min-height: 210px;
}


.products__circle-text {
    position: relative;
    width: 210px;
    height: 210px;
    margin: 0;
    border-radius: 50%;
    background: #000;
    /* overflow: hidden; */
    /* z-index: 1; */
}

/* background-fire */
.block-circle__fire-sprite,
.circle__fire-sprite{
    position:absolute;
    top:25%;left:58.7%;
    width:200px; height:512px;                 
    transform:translate(-50%,-50%) scale(1.2); 
    background:url('../img/fire-sprites-two.png') no-repeat;
    background-size:2000px 512px;             
    animation: flame 3s steps(10, end) infinite;
}

@keyframes flame {
    from { background-position: 0 0; }
    to   { background-position: -4000px 0; }
}
/* end background-fire */

/* end background-fire & black-circle*/

.block-circle__circle-center,
.products__circle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font:700 50px/1 'Roboto',sans-serif;
    color:#fff;
    z-index: 2;
}
.block-circle__circle-text span,
.products__circle-text span {
    position: absolute;
    top: 7%;
    left: 50%;
    transform-origin: 0 90px;
    
    transform: 
    rotate(calc(var(--i) * var(--step))); 
    
    color: white;
    font-size: 14px;
}


.products__inner {
    flex: 1 1 auto;        
    margin-left: 10%;

}

.products__hero-title {
    margin-top: 50px;
    font-family: "Roboto-bold", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.1;
    color: #000000;
}

.products__hero-title-two {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000000;
    margin-left: 5px;
    margin-top: 15px;
}


/*scroller-products*/
.blockScroller,
.products__scroller-products {
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-top: 260px;
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
    z-index: 1;
}

.blockScroller__container,
.products__scroller-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    padding: 2rem 0;
}

.blockScroller__scroller,
.scroller-products__scroller {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0 30px;
    scroll-padding:  0 30px;
    scroll-snap-type: x mandatory;
    justify-content: start;
    cursor: grab;
}

.blockScroller__scroller:active,
.scroller-products__scroller:active {
    cursor: grabbing;
}

.blockScroller__scroller::-webkit-scrollbar,
.scroller-products__scroller::-webkit-scrollbar {
    height: 8px;
}
.blockScroller__scroller::-webkit-scrollbar-thumb,
.scroller-products__scroller::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
    border-radius: 4px;
}

.blockScroller__product-items,
.scroller-products__product-items {
    position: relative;
    flex: 0 0 auto;
    width: calc(33.333vw - 4rem);
    max-width: 360px;
    background: transparent;
    padding: 1rem;
    /* text-align: center; */
    scroll-snap-align: start;
    margin-top: 0;
}

/* Zigzag offset */
.blockScroller__product-items:nth-child(even),
.scroller-products__product-items:nth-child(even) {
    margin-top: -70px;
}

/* Background circles */
.blockScroller__product-items::before,
.scroller-products__product-items::before {
    content: '';
    position: absolute;
    top: 10%;
    border-radius: 50% / 28%;
    left: 50%;
    transform: translateX(-50%);
    width: 290px;
    height: 450px;
    z-index: -1;
}
.scroller-products__product-items:nth-child(7n+1)::before { background: #72A080; }
.scroller-products__product-items:nth-child(7n+2)::before { background: #A95D50; }
.scroller-products__product-items:nth-child(7n+3)::before { background: #ABAFD6; }
.scroller-products__product-items:nth-child(7n+4)::before { background: #FECF6B; }
.scroller-products__product-items:nth-child(7n+5)::before { background: #AFE2F8; }
.scroller-products__product-items:nth-child(7n+6)::before { background: #A6D07D; }
.scroller-products__product-items:nth-child(7n+7)::before { background: #F84F5A; }

.scroller-products__product-items img {
    max-width: 100%;
    border-radius: .5rem;
    display: block;
    transform: translateY(25%);
    /* margin-bottom: 0.25rem; */
}
.scroller-products__product-items h3 {
    color: #000;
    text-align: left;
    font-family: "Roboto-bold", sans-serif;
    font-weight: 700; 
    line-height: 1.2;
    margin: 2.7rem 0.6rem 0 1.1rem;
    font-size: 2.25rem;
}
.scroller-products__product-items p.scroller-products__price {
    transform: translateY(-170%);
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400; 
    color: #000;
    margin: 2.7rem 0 0 1.1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.blockScroller__product-items .btn__buy,
.scroller-products__product-items .btn__buy {
    transform: translateY(-100%);
    margin: 0 0 0 1.4rem;
    position: relative;
    display: inline-block;
    padding: 0.75rem 3rem;
    background: rgba(0,0,0,0.15);
    border: none;
    border-radius: 2rem;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
    z-index: 1;
}
.scroller-products__product-items .btn__buy:hover {
    background: rgba(0,0,0,0.25);
}

.scroller-products__product-items:nth-child(7n+1) .btn__buy { background: #72A080; }
.scroller-products__product-items:nth-child(7n+2) .btn__buy { background: #A95D50; }
.scroller-products__product-items:nth-child(7n+3) .btn__buy { background: #ABAFD6; }
.scroller-products__product-items:nth-child(7n+4) .btn__buy { background: #FECF6B; }
.scroller-products__product-items:nth-child(7n+5) .btn__buy { background: #AFE2F8; }
.scroller-products__product-items:nth-child(7n+6) .btn__buy { background: #A6D07D; }
.scroller-products__product-items:nth-child(7n)   .btn__buy { background: #F84F5A; }

.scroller-products__product-items:nth-child(7n+1) .btn__buy:hover { background: #65816e; }
.scroller-products__product-items:nth-child(7n+2) .btn__buy:hover { background: #8d4b49; }
.scroller-products__product-items:nth-child(7n+3) .btn__buy:hover { background: #938fbb; }
.scroller-products__product-items:nth-child(7n+4) .btn__buy:hover { background: #d9b357; }
.scroller-products__product-items:nth-child(7n+5) .btn__buy:hover { background: #89c8e3; }
.scroller-products__product-items:nth-child(7n+6) .btn__buy:hover { background: #92af6b; }
.scroller-products__product-items:nth-child(7n)   .btn__buy:hover { background: #d6383e; }

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
}
.btn.prev { left: 1rem; }
.btn.next { right: 1rem; }

@media (hover:hover) {
    .btn { opacity: 0; transition: opacity .2s; }
}
/*end scroller-products*/
/*========================================================*/

.discover {
    position: relative;
    background-color: #e07b47;
    height: 100vh;
}

.discover__inner {
    transform: translateY(255px);
}

.block {
    display: flex;
}

.block__heading-subtitle,
.discover__heading-subtitle {
    margin-top: 30%;
    font-family: "Roboto-bold", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    color: #000000;
    margin-left: 5px;
    line-height: 1.0; 
}

.block__heading-title,
.discover__heading-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000000;
    margin-top: 15px;
    margin-left: 7px;

}

.block__cta,
.discover__cta {
    display: inline-flex;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    background-color: #000;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    text-transform: uppercase;
    width: 260px;
    height: 24px;
    margin-left: 5px;
    margin-top: 54px;
}

.block__image,
.discover__image {
    position: relative;
    margin-left: 10%;
    width: 100%;
    height: 100%; 
    /* margin: 0 auto; */
    overflow: visible; 

}

.block__img,
.discover__img {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
    transition: transform 0.6s ease, z-index 0s linear 0.6s; 
}

.block__img--5,
.discover__img--5 { 
    width: 420px; 
    height: auto; 
}
.block__img--6,
.discover__img--6 { 
    width: 800px; 
    height: auto; 
}
.block__img--7,
.discover__img--7 { 
    width: 800px; 
    height: auto; 
}

.block__img--front {
    z-index: 2;
    transform: rotate(0) scale(1);
}
.block__img--back1 {
    z-index: 0;
    transform: rotate(0) scale(0.9);
}
.block__img--back2 {
    z-index: 1;
    transform: rotate(0) scale(0.95);
}

/*========================================================*/

.recipes {
    position: relative;
    background-color: #e07b47;
    overflow-x: hidden;
}

.recipes__inner {
    display: flex;

}

.recipes__left-wrapper {
    position: relative;
    overflow: visible;
    flex: 1;

    z-index: 1
}

.recipes__left-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(-1 * (100vw - 100%)/2);
    width: calc(100% + (100vw - 100%)/2);
    height: 100%;
    background-color: #be5a4b;
    border-radius: 0 220px 0 0;
    z-index: 0;
    transform: translateX(-150px);
    
}

.recipes__left-about {
    position: relative;
    overflow: hidden;
    display: flex;
}



.recipes__left-about--subtitle {
    margin-top: 104px;
    font-family: "Roboto-bold", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    color: #000000;
    margin-left: 5px;
    line-height: 1.0; 
}

.recipes__left-about--title {
    margin-top: 56px;
    margin-left: 6px;
    font-family: "Roboto-bold", sans-serif;
    font-weight: 600; 
    font-size: 42px;
    line-height: 1.0;
    color: #000000;
}

.recipes__left-about--text {
    margin-top: 23px;
    margin-left: 7px;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
}

.recipes__left-about--info {
    margin-top: 23px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 600; 
    color: #000;
    margin-left: 7px;
}

.recipes__left-about--info span + span::before{
    content: " | ";
    font-family: "Roboto-bold", sans-serif;
    font-weight: 700; 
    color: #000;
}

.recipes__left-about--cta {
    display: inline-flex;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    background-color: #000;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    text-transform: uppercase;
    width: 260px;
    height: 30px;
    margin-left: 7px;
    margin-top: 43px;
    margin-bottom: 164px;
}

.recipes__left-about__media {
    position: relative;
    /* flex: 1; */
}

.recipes__left-about__media .recipes__left-about__png {
    position: relative;
    margin-top: 280px;
    max-width: 350px;
    height: auto;
    z-index: 2;
    transform: translateX(-23%);
}

.recipes__left-about--hundle{
    background: url('../img/hand.svg') center/cover no-repeat;
    position: absolute;
    top: 20%;
    right: 34%;
    width: 86px;
    height: 158px;
    background-size: contain;
    z-index: 1; 
}

/* .recipes__right-recipes {
    flex: 1;
} */

.recipes__right-recipes--subtitle {
    margin-top: 96px;
    color: #000000;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 21px;
    text-transform: uppercase;
    width: 270px;
}

.recipes__right-recipes--list {
    text-decoration: underline;
    text-decoration-thickness: 1.4px;
    text-underline-offset: 16px;
    font-family: "Roboto-Regular", sans-serif;
    color: #000000;
    font-weight: 700;
    margin-top: 80px;
    font-size: 40px;
    vertical-align: supper;
    line-height: 90px;
}

.recipes__right-recipes--list sup {
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    transform: translateX(-50%, -50%);
    top: -0.6em;
    margin-left: 0.4em;    
    line-height: 1;
}

/*===================================*/

.feedback {
    position: relative;
    background-color: #e9a8c6;
    min-height: 618px;
}


.feedback__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2rem; */
}

.feedback__heading {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 400;
    color: #000;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.feedback__viewport {
    overflow: hidden;
}

.feedback__slider {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease;
    gap: 0;
    justify-content: space-between;
    text-align: center;
}

.feedback__slide--first,
.feedback__slide--second,
.feedback__slide--third,
.feedback__slide--fourth {
    /* flex: 0 0 100%; */
    box-sizing: border-box;
    padding: 1.5rem;

}


.feedback__slide {
    flex: 0 0 calc((100% - 30px)/2);
    display: flex;
    flex-direction: column;    
    align-items: center;      
    text-align: center;     
}


.feedback__slide--lips img {
    display: block;
    margin: 0 auto;
}

.feedback__slide--subtitle {
    margin-top: 20px;
    max-width: 250px;
    overflow-wrap: break-word;
    color: #000000;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.feedback__slide--title {
    color: #000;
    margin-top: 12px;
    max-width: 350px;
    overflow-wrap: break-word;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.feedback__prev,
.feedback__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
}

.feedback__prev,
.feedback__next { 
    display: none;
}

.feedback__dot.feedback__dot--active {
    background: #000;
}

.feedback__dots {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
}

.feedback__dot {
    width:10px;
    height:10px;
    box-sizing:border-box;
    border:1px solid #000;
    border-radius:2px;
    background:transparent;
    cursor:pointer;
    transition:.25s;
}

/*======================================*/

.concept {
    position: relative;
    background-color: #F5AFB9;
    height: 100vh;
}

.concept__inner {
    /* transform: translateY(255px); */
}

.concept__block-circle {
    transform: translate(345px, 195px);
}

.concept__wrapper {
    display: flex;
    margin-top: 100px;

}

/*======================================*/


.halvaLove {
    position: relative;
    background-color: #F5AFB9;
}

.halvaLove__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.halvaLove__left-wrapper {
    position: relative;
    overflow: visible;
    flex: 1;
    min-width: 0;
    z-index: 1
}

.halvaLove__left-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(-1 * (100vw - 100%)/2);
    width: calc(100% + (100vw - 100%)/2);
    height: 100%;
    /* transform: translateX(-50%); */
    background-color: #ABAFD6;
    border-radius: 0 220px 0 0;
    z-index: 0;
    transform: translateX(-0px);
}

.halvaLove__left-wildHalva {
    position: relative;
    /* overflow: hidden; */
    display: flex;
}



.halvaLove__left-wildHalva--subtitle {
    margin-top: 104px;
    font-family: "Roboto-bold", sans-serif;
    font-weight: 700;
    font-size: 85px;
    color: #000000;
    margin-left: 5px;
    line-height: 1.0; 
    /* text-transform: uppercase; */
    width: 100%;
    padding: 0 10px;
    white-space: nowrap;
}

.halvaLove__left-wildHalva--title {
    margin-top: 66px;
    margin-left: 6px;
    font-family: "Roboto-bold", sans-serif;
    font-weight: 600; 
    font-size: 36px;
    line-height: 1.0;
    color: #000000;
}

.halvaLove__left-wildHalva--text {
    margin-top: 60px;
    margin-left: 7px;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
}

.halvaLove__left-wildHalva--info {
    margin-top: 23px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 600; 
    color: #000;
    margin-left: 7px;
}

.halvaLove__left-wildHalva--info span + span::before{
    content: " | ";
    font-family: "Roboto-bold", sans-serif;
    font-weight: 700; 
    color: #000;
}

.halvaLove__left-wildHalva--cta {
    display: inline-flex;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    background-color: #000;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    text-transform: uppercase;
    width: 260px;
    height: 30px;
    margin-left: 7px;
    margin-top: 43px;
    /* margin-bottom: 60px; */
}

.halvaLove__left-wildHalva__media {
    position: relative;
}

.halvaLove__left-wildHalva__media .halvaLove__left-wildHalva__png {
    position: relative;
    margin-top: 220px;
    max-width: 350px;
    height: auto;
    z-index: 2;
    transform: translateX(-65%); 
}



.halvaLove__right-love {
    background-color: #EC4844;
    width: 445px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.halvaLove__right-love--letter {
    background: url(../img/letter.svg) no-repeat center center / contain;
    width: 147px;
    height: 327px;
    display: block;
    margin-top: 65px;
    

}

.halvaLove__right-love--subtitle {
    margin-top: 50px;
    color: #000000;
    font-family: "Roboto-bold", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;

}


.halvaLove__right-love--cta {
    display: inline-flex;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    background-color: #000;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    text-transform: uppercase;
    width: 320px;
    height: 64px;
    margin-left: 7px;
    margin-top: 43px;
    margin-bottom: 60px;
}


/*========================================================*/


.treasures {
    position: relative;
    background-color: #F5AFB9;
    /* height: 100vh; */
}

.treasures__inner {
    /* transform: translateY(255px); */
}

.treasures__block-circle {
    transform: translate(345px, 195px);
}

.products__circle-text span {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 700;
    font-stretch: expanded;
    letter-spacing: 0.15em;
}

.treasures__wrapper {
    display: flex;
    margin-top: 100px;
}

.treasures__heading-title {
    width: 400px;
}

.treasures__image {
    position: relative;
    width: 486px;
    height: 561px;
    margin: 50px 200px;
    overflow: visible;
}

.treasures__image img {
    max-width: none;
    width: auto;
    height: auto;
    display: block;
}

.card {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: bottom senter;
    transform: translateX(-50%) rotate(0deg);
}

.card--center { z-index: 2; }
.card--left,
.card--right { z-index: 1; }

@keyframes fan-left {
    0%, 50%, 100% { transform: translateX(-50%) rotate(0deg); }
    25%, 75%      { transform: translateX(-80%) rotate(-20deg); }
}
@keyframes fan-right {
    0%, 50%, 100% { transform: translateX(-50%) rotate(0deg); }
    25%, 75%      { transform: translateX(-40px) rotate(20deg); }
}

.card--left { 
    animation: fan-left 10s ease-in-out infinite; 
}
.card--right { 
    animation: fan-right 10s ease-in-out infinite; 
}


/*===================================================*/


.photoesRecipes {
    position: relative;
    background-color: #F5AFB9;
    /* height: 100vh; */
    padding-top: 300px;
}

.photoesRecipes__inner {
    text-align: right;
}

.photoesRecipes__subtitle {
    font-family: "Roboto-bold", sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 85px;
}

.photoesRecipes__title {
    display: inline-block; 
    text-align: left;
    width: 55.5%; 
    max-width: 100%;  
    font-family: "Roboto-Regular", sans-serif;
    color: #000;
    font-weight: 400;
    margin-bottom: 0px;
}

.photoesRecipes__slider {
    margin-top: 50px;
}

.slider__track {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
}

.photoesRecipes__slider__item {
    max-width: 100%;
    /* display: block; */
    flex: 0 0 auto;
    width: 500px;

}

.photoesRecipes__slider__item:nth-child(even) {
    margin-top: 50px;
}

.photoesRecipes__slider--tag {
    margin-top: 43px;
    color: #000;
}

.photoesRecipes__slider--subname {
    margin-top: 20px;
    font-family: "Roboto-bold", sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}

/*========================================================*/

.footer {
    background-color: #BE5A4B;
    color: #000;
    padding-top: 40px;
}

.logo-btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 124px;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.footer__col {
    flex: 1 1 300px;
    min-width: 280px;
}

/* ========== left footer ========== */
.footer__col--subscribe {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer__logo img {
    width: 120px;
}
.footer__title {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 93.5px;
    margin: 0;
}
.footer__subscribe-form {
    position: relative;
    width: 100%;
}

.follow {
    margin-top: 80px;
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 500;
    font-size: 28px;
}

.footer__subscribe-input {
    width: 80%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0);
    padding: 8px 0;
    font-size: 1rem;
    background: transparent;
}
.footer__subscribe-input::placeholder {
    color: #000;
    opacity: 0.9;
    font-size: 12px;
}

.footer__subscribe-input:focus {
    outline: none;
    border-color: #000;
}
.footer__social {
    display: flex;
    gap: 16px;
}
.footer__social-link svg {
    width: 24px;
    height: 24px;
}
.footer__payments {
    margin-top: 45px;
    display: flex;
    gap: 12px;
}
.footer__payments img {
    height: 24px;
}
.footer__copy {
    font-family: "Roboto-Regular", sans-serif;
    color: #000;
    font-size: 0.75rem;
    line-height: 1.4;
    opacity: 0.8;
}

/* ========== Right footer ========== */
.footer__col--menus {
    text-transform: uppercase;
}
.footer__menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 40px;  
    row-gap: 32px;     
    justify-content: start;
    
}
.footer__menu-group {
    min-width: 140px;
}
.footer__menu-group:nth-child(4) {
    margin-top:  -70px;
}


.footer__menu-title {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 12px;
}
.footer__menu-list {
    line-height: 2.5;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer__menu-item + .footer__menu-item {
    margin-top: 8px;
}
.footer__menu-item a {
    color: inherit;
    text-decoration: none;
    opacity: 0.9;
}
.footer__menu-item a:hover {
    opacity: 1;
    text-decoration: underline;
}

/* ======================================== */
.footer__bottom-icons {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.footer__bottom-icons img {
    width: 100%;
    height: 70px;
}

.createAutor {
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*  ========== mobile version ============== */
/*  ========== 1200px ============== */

@media (max-width: 1275px) {
    .hero__inner {
        padding-top: 6%; 
    }

    .header__language-switch {
        display: block;
        margin: 25px auto 0 auto;
        text-align: center;
    }
}

/*  ========== 768px ============== */
@media (max-width: 768px) {

    .topbar {
        position: fixed;
    }

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 5%; 
    }

    .container {
        padding-right: 4%;
        padding-left: 4%;
    }

    .header {
        margin-top: 15%;
    }

    .header__nav-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 10px;
    }

    .header__nav-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        gap: 10px; 
    }

    .header__nav-list {
      flex-direction: column;
      gap: 10px;
    }
  
    .header__nav-list li {
      margin: 0px 0;
    }
  
    .header__nav-list li a {
      font-size: 1.2rem;
    }
  
    .header__logo {
      margin-bottom: 20px;
      transform: translate(0%, -50%);
    }

    /* hover logo */
    .logo-hover {
        position: absolute;
        z-index: 10000 !important;
        top: 50%;
        left: 50%;
        width: 120px;
        height: auto;
        transform: translate(-50%, -106%) scale(1);
        pointer-events: none;
        z-index: 1;
        transition: transform 0.3s ease;
    }

    .header__logo-hover:hover .logo-hover {
        transform: translate(-50%, -115%) scale(1.2);
        animation: float 2s ease-in-out infinite;
    }
    @keyframes float {
        0%, 100%   { transform: translate(-50%, -115%) scale(1.2); }
        50%        { transform: translate(-50%, -125%) scale(1.2); }
    }
    /* end hover logo */

    .header__language-switch {
        display: block;
        margin: 30px auto 0 auto;
        text-align: center;
    }

    .hero__title {
        margin-top: 25%;
        line-height: 105%;
    }

    .products__circle-text {
    position: relative;
    top: 10%;
    left: 0%;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: black;
    z-index: 1;
}

.products__circle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-family: "Roboto-bold", sans-serif;
    font-weight: 700;
    z-index: 2;
}

.products__circle-text span {
    position: absolute;
    top: 7%;
    left: 50%;
    transform-origin: 0 90px;

    transform: 
        rotate(calc(var(--i) * var(--step))); 
    
    color: white;
    font-size: 14px;
}

}
