/* zeroing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body stales */
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;
}

.topbar {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding: 8px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    /* padding-right: 6%; */
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 5px auto 0 auto;
    /* padding-top: 10px; */
}

.header_inner{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    transform: translate(0%, -12%);
    /* padding-right: 10%; */
}

.nav_list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav_list li a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 auto 20px auto;
}

.logo img {
    width: 120px;
    height: auto;
    transform: translateY(50%);
}

.language-switch {
    position: absolute;
    top: 32%;
    right: 30px;
    /* transform: translateY(-50%); */

}

.language-link:hover {
    text-decoration: underline;
}

#hero {
    /* width: 100%; */
    background: url('../img/Rectangle-background.png') center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 150px;
}

.hero_title {
    font-size: 3rem;
    color: #000000;
    max-width: 800px;
    margin: 3% auto 0 auto;
    padding-top: 5%;
    text-align: center;
    line-height: 1.2;
    


    text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}





@media (max-width: 1275px) {
    .hero_inner {
        padding-top: 6%; 
    }

    .language-switch {
        display: block;
        margin: 25px auto 0 auto;
        text-align: center;
    }
}

@media (max-width: 768px) {

    .header_inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 5%; 
    }

    .container {
        padding-right: 4%;
        padding-left: 4%;
    }

    .header {
        margin-top: 15%;
    }

    .nav_left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 10px;
    }

    .nav_right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
         gap: 10px; 
    }

    .nav_list {
      flex-direction: column;
      gap: 10px;
    }
  
    .nav_list li {
      margin: 0px 0;
    }
  
    .nav_list li a {
      font-size: 1.2rem;
    }
  
    .logo {
      margin-bottom: 20px;
      transform: translate(0%, -50%);
    }

    .language-switch {
        display: block;
        margin: 30px auto 0 auto;
        text-align: center;
    }

    .hero_title {
        margin-top: 25%;
        line-height: 105%;
    }

}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.scroll-down:hover {
    opacity: 0.7;
    cursor: pointer;
}



#products {
    background-color: #e07b47;
    padding: 100px 0;
}


