.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body stales */
body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/*-------------------------------------*/

.topbar {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding: 8px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    /* padding-right: 6%; */
}


.header {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 5px auto 0 auto;
    /* padding-top: 10px; */
}

.header__inner{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    transform: translate(0%, -12%);
    /* padding-right: 10%; */
}

.header__nav-item :hover {
    text-shadow:
    -1px -1px 0 lch(100% 0.01 296.81 / 0.459),
     1px -1px 0 lch(100% 0.01 296.81 / 0.459),
    -1px  1px 0 lch(100% 0.01 296.81 / 0.459),
     1px  1px 0 lch(100% 0.01 296.81 / 0.459);
}

.header__nav-list {
    display: flex;
    gap: 42px;
    list-style: none;
}

.header__nav-list li a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 auto 20px auto;
}

.header__logo img {
    width: 120px;
    height: auto;
    transform: translateY(50%);
}

/* hover logo */
.header__logo-hover {
    position: relative;
    display: inline-block;
}
.logo {
    display: block;
    width: 120px;
    height: auto;
}
.logo-hover {
    position: absolute;
    z-index: 10000 !important;
    top: 50%;
    left: 50%;
    width: 120px;
    height: auto;
    transform: translate(-50%, -56%) scale(1);
    pointer-events: none;
    z-index: 1;
    transition: transform 0.3s ease;
}
.header__logo-hover:hover .logo-hover {
    transform: translate(-50%, -65%) scale(1.2);
    animation: float 2s ease-in-out infinite;
}
@keyframes float {
    0%, 100%   { transform: translate(-50%, -65%) scale(1.2); }
    50%        { transform: translate(-50%, -75%) scale(1.2); }
}
/* end hover logo */

.header__language-switch {
    position: absolute;
    top: 32%;
    right: 30px;
}

.header__language-switch:hover {
    text-shadow:
    -1px -1px 0 lch(100% 0.01 296.81 / 0.459),
     1px -1px 0 lch(100% 0.01 296.81 / 0.459),
    -1px  1px 0 lch(100% 0.01 296.81 / 0.459),
     1px  1px 0 lch(100% 0.01 296.81 / 0.459);
}

.header__language-link:hover {
    text-decoration: underline;
}

.hero {
    /* width: 100%; */
    background: url('../img/Rectangle-background.png') center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 150px;
}

.hero__title {
    font-family: "Roboto-Regular", sans-serif;
    /* font-size: 85px; */
    font-weight: 400;
    position: relative;
    font-size: 4rem;
    color: #000000;
    max-width: 800px;
    margin: 3% auto 0 auto;
    padding-top: 7%;
    text-align: center;
    line-height: 1.2;
    


    text-shadow:
    -1px -1px 0 lch(100% 0.01 296.81 / 0.459),
     1px -1px 0 lch(100% 0.01 296.81 / 0.459),
    -1px  1px 0 lch(100% 0.01 296.81 / 0.459),
     1px  1px 0 lch(100% 0.01 296.81 / 0.459);
}

@media (max-width: 1275px) {
    .hero__inner {
        padding-top: 6%; 
    }

    .header__language-switch {
        display: block;
        margin: 25px auto 0 auto;
        text-align: center;
    }
}

@media (max-width: 768px) {

    .topbar {
        position: fixed;
    }

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 5%; 
    }

    .container {
        padding-right: 4%;
        padding-left: 4%;
    }

    .header {
        margin-top: 15%;
    }

    .header__nav-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 10px;
    }

    .header__nav-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
         gap: 10px; 
    }

    .header__nav-list {
      flex-direction: column;
      gap: 10px;
    }
  
    .header__nav-list li {
      margin: 0px 0;
    }
  
    .header__nav-list li a {
      font-size: 1.2rem;
    }
  
    .header__logo {
      margin-bottom: 20px;
      transform: translate(0%, -50%);
    }

    /* hover logo */
    .logo-hover {
        position: absolute;
        z-index: 10000 !important;
        top: 50%;
        left: 50%;
        width: 120px;
        height: auto;
        transform: translate(-50%, -106%) scale(1);
        pointer-events: none;
        z-index: 1;
        transition: transform 0.3s ease;
    }

    .header__logo-hover:hover .logo-hover {
        transform: translate(-50%, -115%) scale(1.2);
        animation: float 2s ease-in-out infinite;
    }
    @keyframes float {
        0%, 100%   { transform: translate(-50%, -115%) scale(1.2); }
        50%        { transform: translate(-50%, -125%) scale(1.2); }
    }
    /* end hover logo */

    .header__language-switch {
        display: block;
        margin: 30px auto 0 auto;
        text-align: center;
    }

    .hero__title {
        margin-top: 25%;
        line-height: 105%;
    }

}

.hero__scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.hero__scroll-down:hover {
    opacity: 0.7;
    cursor: pointer;
}



.products {
    position: relative;
    background-color: #e07b47;
    padding: 500px 0;
}


.products__circle-text {
    top: 10%;
    left: 10%;
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: black;
    z-index: 1;
}

.products__circle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    z-index: 2;
}

.products__circle-text span {
    position: absolute;
    top: 7%;
    left: 50%;
    transform-origin: 0 90px;

    transform: 
        rotate(calc(var(--i) * var(--step))); 
    
    color: white;
    font-size: 14px;
}

